<html ng-app="pomodoroApp">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="favicon.ico">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
        <script src="pomodoro.js"></script>
        <link rel="stylesheet" href="style.css">
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    </head>

    <ng-include src="'header.html'"></ng-include>

    <h2>Pomodoro Technique Timer</h2>
    <span></span>
    <div ng-controller="TomatoController as tomatoController">
        <div class="row">
            <span class="time">
                <span class="minutes">25</span> : <span class="seconds">00</span>
            </span>
        </div>
        <div class="row">
            <span class="checkbox-1"><img src="empty_checkbox.PNG" class="empty-checkbox"></span>
            <span class="checkbox-2"><img src="empty_checkbox.PNG" class="empty-checkbox"></span>
            <span class="checkbox-3"><img src="empty_checkbox.PNG" class="empty-checkbox"></span>
            <span class="checkbox-4"><img src="empty_checkbox.PNG" class="empty-checkbox"></span>
        </div>
        <div class="row">
            <span>
                <button type="button" class="btn btn-success start-btn" ng-click="tomatoController.start()">Start</button>
            </span>
            
            <span class="pause-button-container">
                <button type="button" class="btn btn-secondary pause-btn" ng-click="tomatoController.pause()">Pause</button>
            </span>

            <span class="pause-button-container">
                <button type="button" class="btn btn-info pip-btn" ng-click="tomatoController.togglePiP()">PiP Mode</button>
            </span>
        </div>
        <div class="row">
            <img src="lil_tomato.png" class="lil_tomato.png">
        </div>
    </div>

    <canvas id="pipCanvas" width="300" height="120" style="display: none;"></canvas>
    <video id="pipVideo" muted autoplay style="display: none;"></video>
</html>

<script>
    $(document).ready(function(){
        $('#settings').click(function(){
            alert('SETTINGS from index page');
        });

        if (document.getElementById('pipVideo')) {
            document.getElementById('pipVideo').addEventListener('leavepictureinpicture', function() {
                // Access the Angular controller
                var scope = angular.element(document.querySelector('[ng-controller="TomatoController"]')).scope();
                scope.tomatoController.isPiPActive = false;
                scope.$apply();
            });
        }
    });
</script>